body{font-family: Arial, Helvetica, sans-serif;}
form{margin: auto; width: 500px; height: 700px; text-align : center; border: 2px;}



input[type=text], input[type=password], input[type=email] {
  width: 90%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: teal;
  color: white;
  padding: 10px 10px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 80%;
}

.container {
  padding: 20px;
  background: rgba(255,255,255,0.75);
  margin-right: 50px;
  margin-left: 50px;
  height: absolute;
  width: absolute;
  margin: auto;
  border-radius: 10px;

}

span.psw {
  float: right;
  padding-top: 16px;
}

