body {height:100%; background-color: rgba(33,136,136,0.6);}
h1 {text-align: center; font-family:Segoe UI; color:#B6A11A; font-size: 200%;}
h2{text-align: center;font-family:Segoe UI;color:#B6A11A; padding-top: 1em;}
h3{text-align: center; font-family:Segoe UI; color:#1324A5;font-weight: bold;}
h3.description{text-align:left;color:black;font-weight: normal;}
h5{text-align: center; font-family:Segoe UI; color:black;}
.container {
	margin-left:3%;
	padding:100px 50px;
	background-color:#DEE7E8;
	min-height: 1000px;
	height: 100%;
    }
	
.center {
  text-align:center;
  margin: 10px;
}

table{
	table-layout: fixed;
	text-align: center;
	width: 100%;
	
}

table td.top {
	vertical-align: top;
}

table td.top {
  vertical-align: top;
  width:20%;
	height:200px;
	object-fit:cover;
}

.new {
  padding: 50px;
  transition: transform .2s; 
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.new img:hover {
  transform: scale(1.5); 
}

.top img {
  cursor: pointer;
  transition: 0.3s;
}

.top img:hover {opacity: 0.7;}


.modal {
  display: none; 
  position: fixed; 
  z-index: 101; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  height: 80%;
  max-width: 700px;
  animation-name: zoom;
  animation-duration: 0.6s;
}


@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



.interests{font-size:32px;font-weight:700;color: navy}

.interests p{font-size:32px;height:42px;float:left;margin-right:.3em;opacity:.5; padding-top: 2em; padding-bottom: 2em; top: 50%}

.interests b{font-weight:700;float:left;overflow:hidden;height:37px;top:32px; margin-left:20em; margin-top: -100px}

.interests .inner-interests{
	display:inline-block;
	color: lightseagreen;
	position:relative; 
	white-space:nowrap;
	top:0;
	left:0;
	-webkit-animation:move 6s;
	-moz-animation:move 6s;
	-ms-animation:move 6s;
	-o-animation:move 6s;
	animation:move 6s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-delay:1.3s;
	-moz-animation-delay:1.3s;
	-ms-animation-delay:1.3s;
	-o-animation-delay:1.3s;
	animation-delay:1.3s
}

@keyframes move{
	0%{top:0}
	20%{top:-40px}
	40%{top:-80px}
	60%{top:-120px}
	80%{top:-160px}
}
  

  
