body {height:100%; background-color: rgba(33,136,136,0.6);}
h1 {color:#B6A11A; font-family:Segoe UI; font-size: 150%;}
h4{text-align: center}
label {font-weight: bold}
.container {
	margin-left:3%;
	height:1000px;
	background-color:#DEE7E8;
    }

h2{text-align: center; color: #B6A11A}
label {font-weight: bold}

h3{text-align: center}

