body{overflow: hidden;} /* Remove scrollbar from main window, so only the results scrollbar appears */
h4{text-align: center;}
label {font-weight: bold}
.container {
	margin-left:3%;
	height:1000px;
	background-color:#DEE7E8;
	}
	
.searchContent {
    width: 96%;
    height: 220px; /* Moving up a bit so background does not take up so much room */
    position: absolute;
    top: 80px;
    background-image: url("../images/searchCriteriaBackground.jpg");
    background-size: 100% 100%;
}

.searchbox {
    width: 70%;
    height: 115px;
	position: absolute;
	top: 25%;
	left: 15%;
    background-color:rgba(152,152,152,0.88);
	padding:10px;
	font-family:Segoe UI;
}

form {
	width: 90%;
	height: 70px;
	position: absolute;
	top: 40px;
	left: 4.5%;
    padding: 5px;
    text-align: center;
	background-color:white;
}


#slider-range {
    height: 8px;
    width: 80%;
    margin: 10px;
}

.ui-slider .ui-slider-handle {width: 5px;}


.column {
	float: left;
	height:70px;
	border-right: solid;
	border-right-color:#B9B9B9;
	border-width: 1px;
}
.column:last-child {float:right;border-right:none;}
select{margin:10px; font-size:16px;}

input[type=checkbox] {
    display: none;
    margin: 10px;
}
input[type=checkbox] + label {
    display:inline-block;
    background-color: #e7e7e7;
    border: 1px;
    border-style: solid;
	font-weight: normal;
	font-size:13px;
}
input[type=checkbox]:checked + label {
    background-color:#8282ba;
	color:white;
}

#submitButton {
	background-color:#7CB9B9;
	width: 100%;
	height: 60px;
    border: outset;
}
#submitImage {
    height: 50px;
}


.search-details {
    position: absolute;
    top: 310px;
    width: 93%;
    height: calc(100% - 300px); /* Calculating height to show all properties. Slight cutoff of scrollbar at bottom */
    margin-left: 3%;
	margin-right: 3%;
}
