/*External stylesheet*/
* {
	margin: 0;
	padding-right: 5px;
	border: 0;
}
body {height:100%; background-color: #7CB9B9;}
h1 {color:#B6A11A; font-family:Segoe UI; font-size: 150%;}
div.content {
	margin-left:3%;
	padding:100px 50px;
	height:600px;
	background-color:#DEE7E8;
	}

/*NavList*/
div.nav{
	position: fixed;
	z-index: 100;
	height: 80px;
	width: 100%;
	background-color: #C4D6D6;
    }

ul {
    list-style-type: none;
    overflow: hidden;
}

.navList {float: left;}
.navList:last-child {float:right;}
.navList .special {color:#A19264; font-family:Segoe UI;}

.navList a {
    display: block;
	padding: 30px;
    color: black;
	text-align: center;
    text-decoration: none;
	font-family:Segoe UI;
	font-weight: bold;
}

.navList a:hover {background-color: #D7E8E8;}
.navList a.homepage {padding: 0px;}
.navList a.homepage:hover {background-color: #C4D6D6;}

/*Footer*/
footer {
  margin-left:3%;
  padding: 3px;
  background-color: #7CB9B9;
  color: #DEE7E8;
  
}
footer h3 {
	font-family: Segoe UI;
	font-weight: bold;
	color: #DEE7E8;
}

footer h4 {
	font-family: Segoe UI;
	font-weight: bold;
	text-align:left;
	color: black;
}
footer form{padding:0px}
footer input[type=email]{
	width:200px;
	height: 20px;
	padding:5px;
	margin: 0px;
	margin-top: 5px;
	border: none;
	font-family: Segoe UI;
	color: #3A4141;
}

footer input[type=submit]{
	width:130px;
	height: 25px;
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	background-color:#E8C96C;
	border: none;
	border-radius: 0px;
	text-align:center;
	font-family: Segoe UI;
	font-weight: bold;
	font-size:100%;
	color: black;
}

/*Property box*/
div.property {
	position: relative;
	margin: 30px;
	width: 27%;
	border: 1px solid #ccc;
	background-color: white;
	float: left;
}

div.property img {
	padding: 2px;
	width: 100%;
	height: 230px;
}

div.property:hover img {opacity: 0.3;}

div.middle {
	opacity: 0;
	transition: .5s ease;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

div.property:hover .middle {
	opacity: 1;
	background-color: silver;
	color: black;
	font-size: 16px;
	padding: 16px 32px;
}

#myPropertyFrame {
	height: 100%;
	width: 100%;
}

